.desktop-header {
      @include flexbox($display: flex, $wrap: wrap, $justifyContent: space-between, $alignItems: center);
      box-shadow: 0 5px 5px -5px #333;
      color: #fff;
      background: $primary;
      padding: 10px 15px;
      border-bottom: 1px solid #2f2f2f;

      .logo {
            max-width: 188px;
            img {
                  width: 170px;
            }

            p {
                  font-size: 63%;
                  font-size: bold;
            }
      }

      .nav-items {
            width: 29%;
            ul {
                  @include flexbox($display: flex, $wrap: wrap, $justifyContent: space-evenly, $alignItems: center);
                  li {
                        cursor: pointer;
                        padding: 8px 10px;
                  }
                  .active {
                        background: #ddd;
                        border-radius: 8px;
                        color: #000;
                        transition: all 0.5s ease-out;
                  }
            }
      }
}
