button {
      padding: 10px 20px;
      //  color: #333;
      background-color: transparent;
      border-radius: 4px;
      cursor: pointer;
      &[disabled] {
            cursor: not-allowed;
      }
      &.danger {
            background-color: #ff4949;
            color: #fff;
      }
      &.success {
            background-color: #13ce66;
            color: #fff;
      }
      &.info {
            background-color: #50bfff;
            color: #fff;
      }
      &.main {
            background-color: $main;
            color: #fff;
      }
      &.primary {
            background-color: $primary;
            color: #fff;
      }
}
